.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  & > img {
    width: 200px;
  }
  & > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 99px;
    font-weight: 700;
    background-color: #15883e;
    font-size: 14px;
    white-space: normal;
    letter-spacing:2px ;
    vertical-align: center;
    outline-style: none;
  }
}
