.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  & > img {
    width: 100%;
  }
  & > a {
      padding: 20px;
      border-radius: 99px;
      background-color: #1db954;
      color: white;
      font-weight: 800;
      text-decoration: none;
  }
}
