.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  color: white;
  background-color: #040404;

  &__logo {
    height: 70px;
    padding: 10px;
    margin-right: auto;
    object-fit: contain;
  }

  &__title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }

  & > hr {
      border: 1px solid #282828;
      width: 90%;
      margin: 10px auto;
  }
}
